body {
    background-color: floralwhite;
}

footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  float: right;
}

ul.share-buttons li{
  display: inline;
}

.resume {
	width: 100%;
	height: 948px;
}

#content {
    margin: auto;
    max-width: 648px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee
}

#content div {
    font-family: 'Bree Serif', serif;
    margin: 2em;
    font-size: 19px;
	background-color: floralwhite;
}

#content p {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
}

#postamble {
    width: 40%;
    margin: auto;
}

#i-heart {
    fill: red;
    viewBox: 0 0 32 32;
    width: 32px;
    height: 32px;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
