<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>narendra's blog - $title$</title>

        <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css"/>

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bree+Serif|Ubuntu+Mono|Pacifico&subset=latin,greek"/>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span id="blog-title">Ramblings from a corner</span></a>
        </div>

        <div id="navigation-bar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/about.html">About</a> </li>
            <li> <a href="/contact.html">Contact</a> </li>
            <li> <a href="/miscellany/miscellany.html">Miscellany</a> </li>
            <li> <a href="/archive.html">Archive</a> </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="post-container-wrapper">
      <div class="container section" id="post-container">
        <article id="post-content">
          <h1>$title$</h1>

          $body$
        </article>

        <hr/>
        <footer id="post-footer">
      	  Still figuring out.
        </footer>
      </div>
    </div>

    <!-- Jquery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <!-- Bootstrap js-->
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>
    <!-- Mathjax -->
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55966581-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>

  </body>
</html>
