/* ----------------------------------CUSTOM---------------------------------- */
body {
    background-color: white;
}

.content-wrapper .col-sm-6 {
    background-color: white;
    box-shadow: 0px 1px 10px -3px #b97700;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

#preamble {
    font-family: Pacifico;
    margin: auto;
    font-size: 3rem;
    padding-left: 10px;
}

#preamble > .banner-links {
    list-style: none;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Amaranth;
}

.banner-links li {
    display: inline-block;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    #preamble {
        font-size: 26px;
    }

    #preamble > .banner-links {
        font-size: 15px;
    }
}

div.banner > a {
    color: #8a6f6f;
    text-shadow: 0px 1px 1px #86714b;
}

ul.banner-links a {
    color: darkblue;
    text-shadow: 0px 1px 1px #86714b;
}

#preamble a:hover {
    color: #8a6f6f;
    text-shadow: 0px 1px 1px #135dbd;
    text-decoration: none;
}

#preamble hr {
    margin-top: 0.4rem;
}

footer {
    font-family: Pacifico;
    border-top: solid 2px black;
    color: #555;
    font-size: 18px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  float: right;
}

ul.share-buttons li{
  display: inline;
}

.resume {
	width: 100%;
	height: 948px;
}

#content {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding-left: 1rem;
}

#content header {
    text-align: center;
}

#content div {
    font-family: 'Bree Serif', serif;
	background-color: white;
}

#content p {
    /* Remove Handlee and keep Libre Baskerville if you want something less*/
    /* fancy and maybe more readable. */
    font-family: Libre Baskerville;
    color: #125;
}

#postamble > footer {
    width: 40%;
    margin: auto;
}

footer > a {
    color: #555;
}

#view-source-link {
    font-size: 8px;
    color: grey;
    display: block;

}

#i-emacs {
    height: 30px;
    width: 30px;
}

#i-heart {
    viewBox: 0 0 32 32;
    width: 20px;
    height: 20px;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    fill: red;
}

/* Thanks to advent of code */
em {
    text-shadow: 0 0 5px #555555;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amaranth', sans-serif;
}

.archive {
    list-style: none;
}

.archive-date {
    color: #77500a;
    /* A hack to make all dates align */
    font-family: monospace;
    font-weight: bold;
}

.archive-item {
    font-size: 1.25rem;
}

.archive-item > a {
    margin-left: 0.5em;
}

.all-posts-link {
    font-size: 1.5em;
    text-align: left;
}

div.outline-2, div.outline-3 {
    margin: 0.3rem;
}

.org-src-container {
    border-width: 1px;
    border-color: #cbccb8;
    border-style: solid;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-style: italic;
    font-size: xx-small;
}
